body{
    margin: 0;
    padding: 0;
    background:#f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    .loading {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
    }
    .launch-model{
        padding: 15px;
        @media only  screen and (max-width: 700px) {
            width: 90%;
            display: block;
            margin: auto;
            padding: 0;
        }
        .launch-title{
            h3{
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                @media only  screen and (max-width: 700px) {
                    font-size: 40px;
                    text-align: left;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
        }
        .launch-container-block{
            display: flex;
            @media only  screen and (max-width: 700px) {
                display: block;
                width: 100%;
            }
            .launch-filter-section{
                @media only  screen and (min-width: 700px) {
                    position: sticky;
                    top: 50px;
                    height: 500px;
                }
                display: flex;
                flex-direction: column;
                width: 12%;
                background: #ffff;
                padding-left: 19px;
                padding-right: 17px;
                padding-top: 18px;
                padding-bottom: 44px;
                position: sticky;
                top: 6px;
                margin-right: 11px;
                @media only  screen and (max-width: 700px) {
                    width: 100%;
                    position: relative;
                    display: block;
                    padding: 0;
                    min-height: 222px;
                }
                @media screen and (min-width: 700px) and (max-width: 1024px) {
                    width: 40%;
                }
                .launch-filter-title{
                    font-size: 20px;
                    font-weight: bold;
                    @media only  screen and (max-width: 700px) {
                        display: block;
                        padding-left: 26px;
                        padding-top: 17px;
                    }
                }
                .filter-cta-section{
                    .launch-filter-title{
                        display: block;
                        text-align: center;
                        padding-bottom: 28px;
                    }
                    span{
                        display: block;
                        text-align: center;
                        font-size: 13px;
                        letter-spacing: 0.03em;
                        padding-top: 10px;
                        @media only  screen and (max-width: 700px) {
                            font-size: 21px;
                        }
                    }
                    .launch-filter-divider{
                        border-bottom: 1px solid;
                        padding-top: 5px;
                        margin-bottom: 5px;
                    }
                    div{
                        @media only  screen and (max-width: 700px) {
                            justify-content: space-between;
                            margin: auto;
                            grid-template-columns: 3fr 1fr;
                            display: grid;
                            width: 70%;
                        }
                        @media screen and (min-width: 700px) and (max-width: 1024px) {
                            justify-content: space-between;
                            width: 84%;
                            margin: auto;
                            grid-template-columns: 3fr 1fr;
                        }
                        button{
                            background: #7cba03;
                            border: none;
                            line-height: 23px;
                            width: 57px;
                            border-radius: 6px;
                            margin-top: 10px;
                            opacity: 0.6;
                            cursor: pointer;
                            &:nth-child(odd){
                                margin-right: 19%;
                            }
                        }
                    }
                }
                .filter-cta-section {
                    margin-top: 20px;
                }
                .filter-cta-section:nth-child(1) {
                    margin-top: 10px;
                }
            }
            .filter-info-section{
                width: 88%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @media only  screen and (max-width: 700px) {
                    grid-template-columns: 1fr;
                    width: 100%;
                    margin: 15px 0px 9px 0!important
                }
                @media screen and (min-width: 700px) and (max-width: 1024px) {
                    grid-template-columns: 1fr 1fr; 
                }
                div{
                    display: inline-block;
                    margin: 0 13px 22px 15px;
                    background: #fff;
                    vertical-align: top;
                    @media only  screen and (max-width: 700px) {
                    display: block;
                    }
                    img{
                        width: 100%;
                        background: #f2f2f2;
                        padding-top: 16px;
                        padding-bottom: 24px;
                        margin-top: 20px;
                    }
                    span{
                     
                        color: #545a84;
                        font-size: 14px;
                        font-weight: bold;
                        padding-top: 18px;
                        display: block;
                    }
                    h4{
                        margin: 0;
                        font-size: 16px;
                        color: #131313;
                        padding-top: 10px;
                    }
                    .mission-info-ids{
                        font-weight: lighter;
                        color: #131313;
                        font-size: 15px;
                        padding-top: 7px;
                    }
                    .mission-info-launch{
                        display: flex;
                        align-items: center;
                        b{
                            font-size: 13px;
                        }
                        span{
                            color: #131313;
                            font-weight: normal;
                            padding: 0;
                            font-size: 11px;
                            padding-left: 6px;
                        }
                    }
                }
            }
        }
    }
}